/***************V2 NAVIGATION****************/

nav {
    display: block;
    height: auto;
    position: static;
    width: auto; overflow:visible;
    
    li {
        display: inline-block;
        padding: 5px;
        position: relative; 

        &.current_page_item > a, 
        &.current-page-ancestor > a, 
        &.current_page_parent > a{
            background-color: red;
        }

        &:hover .sub-menu {
            display: block;
            position: absolute; 
            top: 25px;
            width: 260px;
            z-index: 50;
        }
    }

    a {
        display: inline-block;

        &.active{
            background-color: red;
        }
    }
}

//dropdowns
nav{
    ul.sub-menu{
        box-shadow: 1px 3px 5px rgba(0,0,0, 0.3);
        display: none;
        padding-left: 0;
        text-align: left;

        li{
            display: block;
            font-size: 0.9em;
            margin-left: 0; 
        }

        a{
            display: block;
            margin-left: 0;
        }
    }
}